.header {
  width: 100%;
  padding: 10px 20px;
  background: linear-gradient(to right, #3a6186, #89253e);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed; /* Фиксируем хедер */
  top: 0;
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы хедер был поверх других элементов */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo-link h1 {
  margin: 0;
  font-size: 24px;
  transition: color 0.3s;
}

.logo-link:hover h1 {
  color: #ffd700; /* Цвет при наведении */
}

.header-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cart-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.cart-link:hover {
  color: #ffd700; /* Цвет при наведении */
}
