.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.product-card h2 {
    color: #4CAF50;
}