.add-product-container {
  width: 400px;
  margin: 75px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-product-container h2 {
  margin-top: 0;
}

.add-product-form {
  display: flex;
  flex-direction: column;
}

.add-product-form input,
.add-product-form textarea,
.add-product-form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-product-form select {
  padding: 10px 5px; 
}

.add-product-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-product-form button:hover {
  background-color: #0056b3;
}

.add-product-form p {
  margin-top: 10px;
}
